
  button{
    background: rgba(255,69,0,0.93);
    color:white;
    border:none;
    position:relative;
    width:300px;
    height:30px;
    font-size:1.em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top:5px;
    margin-bottom:5px;
  }
  button:hover{
    background:none;
    color:red;
    font-weight:600;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:1px;
    width:0;
    background: red;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all; 
  }
  
  