@charset "utf-8";

body{
    background: rgb(250, 250, 250);
}
.menu{
    z-index: 2;
    position: fixed;
    width: 100%;
    background: white;
    /* text-align: end; */
    display: flex;
    /* justify-content: center; */
    height: 55px;
    border-bottom: 1px solid lightgray;
    /* box-sizing: content-box; */
    margin-top: -10px;
    padding-top: 19px;
    
}

.logo{
margin-left: 25px;
margin-top:1px;
}
.logo .onion{
	width:33px;
	height:33px;
}
.searchBar{
flex-grow: 1;
    
    margin-right: 40px;
    margin-left:15px;
    margin-top:-3px;
    
}
.searchBar input{
    /* width: 500px; */
    height: 37px;
    color: black;
    border-radius: 7px;
    border: 1px solid rgb(235, 235, 235);
    /* text-align: center; */
    font-size: 1.15rem;
    outline: none;
    margin-left: 15px;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(235, 235, 235);
    min-width: 150px;
    margin-right: 15px;
    padding-left:15px;
}
.searchBar input::placeholder{
	color:gray;
}
.icon_list{
    
    /* margin-left: 20%; */
    /* text-align: center; */
    display: flex;
    flex-grow: 0;
    margin-right:25px;
    
}
.menu i{
	width:39.5455px;
    font-size:2.1rem;
    color:rgb(29, 30, 46);
    -webkit-text-stroke: 1px white;
    padding-right:0px;
    transition:300ms ease all; 
    cursor:pointer;
}
.menu i:hover{
	font-size:2.35rem;

}
.menu i:active{
	font-size:2.35rem;
	font-weight:900;
	transition:80ms ease all; 
	
}
.menu .fa-circle-notch:active{
	-webkit-text-stroke: 2.5px black;
	
}
input::placeholder{
    color:lightgray;
}